[submodule ".zsh/functions/Completion/zsh-completions"]
	path = .zsh/functions/Completion/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
